{% extends "_layout.twig" %}

{% block main %}
    <h1>Registration wizard failed</h1>
    <p>
        We are experiencing technical problems at this moment. Please, try again later.
    </p>
{% endblock %}
