{% extends "_layout.twig" %}

{% block main %}
    <h1>Registration wizard: step 3/3</h1>
    <form method="post" action="/step3.php">
        <div class="mb-3">
            <label for="accountOwner" class="form-label">Account owner</label>
            <input type="text" name="accountOwner" class="form-control" id="accountOwner" required>
        </div>
        <div class="mb-3">
            <label for="iban" class="form-label">IBAN</label>
            <input type="text" name="iban" class="form-control" id="iban" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}
