{% extends "_layout.twig" %}

{% block main %}
    <h1>Registration wizard: step 1/3</h1>
    <form method="post" action="/step1.php">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" name="firstName" class="form-control" id="firstName" required>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" name="lastName" class="form-control" id="lastName" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control" id="phone" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}
