{% extends "_layout.twig" %}

{% block main %}
    <h1>Registration wizard: step 2/3</h1>
    <form method="post" action="/step2.php">
        <div class="mb-3">
            <label for="street" class="form-label">Street</label>
            <input type="text" name="street" class="form-control" id="street" required>
        </div>
        <div class="mb-3">
            <label for="houseNumber" class="form-label">House number</label>
            <input type="text" name="houseNumber" class="form-control" id="houseNumber" required>
        </div>
        <div class="mb-3">
            <label for="zip" class="form-label">Zip</label>
            <input type="text" name="zip" class="form-control" id="zip" required>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" name="city" class="form-control" id="city" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}
